In [1]:
import numpy as np
import tarfile
import pandas as pd
import os

## Problem 1

* width and length > 0
* width and length numeric

In [2]:
def rectangle_description():
    # Ask to input length and width
    length = float(input("Rectangle length: "))
    width = float(input("Rectangle width: "))
    # Calculate function output
    perimeter = 2 * (length + width)
    diag_length = np.sqrt(length**2 + width**2)
    area = length * width
    # Print
    print("Perimeter of rectangle: {0:.1f}\nLength of diagonal: {1:.4f}\nArea of rectangle: {2:.1f}".format(perimeter, diag_length, area))

In [3]:
rectangle_description()

Rectangle length: 4
Rectangle width: 5
Perimeter of rectangle: 18.0
Length of diagonal: 6.4031
Area of rectangle: 20.0

## Problem 2

* check if bottom and top width has the same remainder (i.e., they can decrease by 1)
* check if bottom > top

In [4]:
def plinth_volume(width_bottom, width_top):
    height = 1
    depth = 2
    width = width_bottom
    volume = 0
    # Calculate plinth volume
    while width >= width_top:
        plinth_vol = height * depth * width
        volume += plinth_vol
        width -= 1
    # Print
    print("Total volume of plinths: {0:.1f}".format(volume))

In [5]:
plinth_volume(8,3)

Total volume of plinths: 66.0

## Problem 3

##### Assumption 1 - column names and order is the same for all csv files

In [6]:
# Extract everything from tar.gz archive
tar = tarfile.open("A1.tar.gz", "r:gz")
tar.extractall()
tar.close()

In [7]:
# Combine extracted csv's
## Make an empty data frame that will be appended with each countries' data
df_all_countries = pd.DataFrame()
## Iterate over all files in the "data" directory
for country in os.scandir("data"):
    ## Read csv file
    df_temp = pd.read_csv("data/" + country.name)
    ## Add a column "Country" to the data frame which contains the name of the csv file (without the extension)
    df_temp['Country'] = country.name.split(".")[0]
    ## Append country data frame to final data frame
    df_all_countries = pd.concat([df_all_countries, df_temp], axis=0)

In [8]:
# Count of rows for each countries csv
df_all_countries.groupby('Country').agg(Healthcare_count = ('Country', 'size'))

             Healthcare_count
Country
Austria                   266
Belgium                   272
Bulgaria                  673
Croatia                    61
Cyprus                     11
Czechia                   248
Denmark                    61
Finland                   372
France                   5368
Germany                  2809
Greece                    125
Hungary                   135
Ireland                   199
Italy                    1283
Latvia                     44
Lithuania                 142
Luxembourg                 21
Malta                       9
Netherlands               245
Norway                    640
Poland                    466
Portugal                   94
Romania                   179
Slovakia                  128
Slovenia                   31
Spain                     809
Sweden                    132
Switzerland               358

In [9]:
df_all_countries.value_counts('Country', sort=False)

Country
Austria         266
Belgium         272
Bulgaria        673
Croatia          61
Cyprus           11
Czechia         248
Denmark          61
Finland         372
France         5368
Germany        2809
Greece          125
Hungary         135
Ireland         199
Italy          1283
Latvia           44
Lithuania       142
Luxembourg       21
Malta             9
Netherlands     245
Norway          640
Poland          466
Portugal         94
Romania         179
Slovakia        128
Slovenia         31
Spain           809
Sweden          132
Switzerland     358
dtype: int64